external_dns_aws_region: us-east-2
external_dns_node_affinity_key: servers.ngpc.rxt.io/type
external_dns_node_affinity_value: ondemand
external_dns_txt_owner_id: crossplane.us-east-2.rye.ninja
external_dns_route53_zone_id: Z087069529GAZBM0GNQPI
external_dns_rolesanywhere_trust_anchor_arn: arn:aws:rolesanywhere:us-east-2:832767337984:trust-anchor/1433b5ab-1a7a-4134-9d84-baa79f94d093
external_dns_rolesanywhere_profile_arn: arn:aws:rolesanywhere:us-east-2:832767337984:profile/296475b1-698c-44c9-9af6-35ad2ba0c6a5
external_dns_rolesanywhere_role_arn: arn:aws:iam::832767337984:role/delegated-zone-crossplane-rye-ninja
